/* Google Fonts - Instrument Serif */
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');

:root {
    --bgColor: #223344;
    --bgColor2: #090a0f;
    --accentColor: #FFF;
    --font: 'Instrument Serif', serif;
    --delay: .3s;
}

body {
    color: var(--accentColor);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: var(--font);
    /* text-shadow: 2px 2px 5px black; */
    background: url('https://alexfitts.xyz/images/background.png') no-repeat center center;
    background-size: cover;
    opacity: 0;
    animation: 1s ease-out var(--delay) 1 transitionAnimation;
    animation-fill-mode: forwards;
}

body.dark-mode {
    background-color: #1c1c1c;
    color: #ccc;
    background: url('https://alexfitts.xyz/images/background-dark.png') no-repeat center center;
}

#profilePicture, #profilePicture img {
    position: relative;
    width: 96px;
    height: 96px;
    display: block;
    margin: 40px auto 20px;
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent;
}

#userName {
    color: var(--accentColor);
    font-size: 3rem;
    /*font-weight: bold;*/
    /*font-style: italic;*/
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;
    text-decoration: none;
}

#links {
    max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto;
}

.link {
    position: relative;
    font-size: 1rem;
    font-family: 'Instrument Serif', serif;
    color: white;
    background: transparent;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    display: block;
    margin: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

body.dark-mode .link {
    border-color: #ccc;
}

.link:hover {
    background-color: white !important;
    color: #FF3131 !important;
}

/* Active state for when the button is clicked */
.link:active {
    background-color: var(--accentColor);
    color: var(--bgColor);
    transform: scale(1); /* Return to normal size when clicked */
}

#hashtag {
    position: relative;
    padding-bottom: 20px;
    color: var(--accentColor);
    font-size: 1rem;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;
    overflow: hidden;
    background: linear-gradient(90deg, var(--bgColor), var(--accentColor), var(--bgColor));
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear var(--delay) infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

/*-------------------------animations-----------------------*/
@keyframes transitionAnimation {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
}

/*-------------------------popup------------------------*/
.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: .5s ease-in-out;
}

.popup {
    position: relative;
    top: -43%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: auto;
    height: auto;
    margin: 56px;
    background-color: var(--bgColor);
    transform: scale(0);
    transition: .5s ease-in-out;
}

.popup-quote {
    font-family: Baskerville, Georgia, serif;
    font-style: italic;
    position: flex;
    color: var(--accentColor);
    padding: 20px;
    text-align: center;
    font-size: 1rem;
}

.popup-photo {
    display: flex;
    width: 100%;
    height: 100%;
}

.popup-photo img {
    width: 100%;
    height: 100%;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.overlay:target .popup {
    transform: scale(1);
    top: 0;
}

.popup-close {
    position: absolute;
    right: -1rem;
    top: -1rem;
    width: 3rem;
    height: 3rem;
    font-size: 1.7rem;
    font-weight: 400;
    border-radius: 100%;
    background-color: var(--bgColor);
    z-index: 4;
    color: var(--accentColor);
    line-height: 2.7rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

@media (hover: hover) {
    .popup-close:hover {
        background-color: var(--accentColor);
        color: var(--bgColor);
    }
}

.popup-close:active {
    background-color: var(--accentColor);
    color: var(--bgColor);
}

/* Dark Mode Specific Styles */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode .link {
    border-color: #ddd;
}

body.dark-mode .link:hover {
    background-color: #333;
    color: #ff3131;
}
